server:
  port: 2005

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/finance_db
    username: root
    password: Mithun@48


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

